
.login-input {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
}

.layout {
    width: 1024px;
    margin: auto;
    position: relative;
}

.sidebar, .content {
    position: absolute;
}

.sidebar {
    background: #b5d6e5;
    width: 200px;
    padding: 20px;
}

.content {
    background: #F4ECCE;
    left: 250px;
    width: 800px;
    padding: 30px;
}

.column-name {
    font-weight: bold;
}





